/** ┌────────────────────────────────────────────────────────────────────────────────────────────┐
*** │ FILENAME: surca-custom.less                                                                │
*** │                                                                                            │
*** │ See persistent comment below for additional information and license.                       │
*** └────────────────────────────────────────────────────────────────────────────────────────────┘
**/

@grid-behavior: "hybrid";
@oue-rules-wrapper: ~"";

@import "..\WSU-UE---CSS\variables";
@import "..\WSU-UE---CSS\wp-master-style-sheet.less";

/*! ================================================================================================
*** Styles specific to the WSU SURCA website
*** ================================================================================================
***   SUMMARY: CSS code designed for use on the SURCA website that was built from precompiled CSS
**     written in the Less language extension of CSS.
***
***   AUTHOR: Daniel Rieck [daniel.rieck@wsu.edu] (https://github.com/invokeImmediately)            
***
***   GIT REPOSITORY: https://github.com/invokeImmediately/wsu-ue---css/
***     (Please see above git repository for fully documented, precompiled source code.)
***
***   LICENSE: ISC - Copyright (c) 2019 Daniel C. Rieck.
***
***     Permission to use, copy, modify, and/or distribute this software for any purpose with or
***     without fee is hereby granted, provided that the above copyright notice and this permission
***     notice appear in all copies.
***
***     THE SOFTWARE IS PROVIDED "AS IS" AND DANIEL RIECK DISCLAIMS ALL WARRANTIES WITH REGARD TO
***     THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT
***     SHALL DANIEL RIECK BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR
***     ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF
***     CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE
***     OR PERFORMANCE OF THIS SOFTWARE.
*** ================================================================================================
**/

/**  ───────────────────────────────────────────────────────────────────────────────────────────────
***  TABLE OF CONTENTS:
***  ────────────────────────────────────────────────────────────────────────────────────────────
***  §1: SURCA-specific Less variables.........................................................60
***  §2: Body, main, and site header...........................................................68
***  §3: Page headers.........................................................................110
***  §4: Article sidebars.....................................................................151
***  §5: Lists................................................................................242
***  §6: Iframes..............................................................................251
***  §7: Tables...............................................................................259
***  §8: Welcome message......................................................................283
***  §9: Drop down toggles....................................................................341
***  §10: Abstract submission reminder........................................................355
***  §11: Announcements.......................................................................375
***  §12: Banner slideshows...................................................................385
***  §13: Included optional layouts...........................................................394
***  ───────────────────────────────────────────────────────────────────────────────────────────────
**/

/** ================================================================================================
*** §1: SURCA-specific Less variables
**/

@url-gold-texture: "wp-content/uploads/sites/706/2016/03/texture_brushed-gold.png";
@url-ruby-texture: "wp-content/uploads/sites/706/2016/03/texture_unheated-ruby.png";
@url-sandstone-texture: "wp-content/uploads/sites/706/2016/03/texture_sandstone.png";

/** ================================================================================================
*** §2: Body, main, and site header
**/

body {
	// REMOVED FOR NOW: Main page background is too distracting on certain viewport widths; should 
	// disappear when the screen is narrow enough.
	// background: url(/wp-content/uploads/sites/706/2015/11/main-page-background.jpg) 
	//	left top fixed repeat;
	background: @hex-bright-gray;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande';
}

main {
	background: #fff url(/wp-content/uploads/sites/706/2015/11/bg-gray-diagonal-hatching_lower-fading.jpg) left top fixed repeat-x;
}

#jacket {
	background-position: right bottom;
	 background-attachment: fixed;
	 background-repeat: no-repeat;
}

header.main-header {
	height: 110px;
	background: @hex-darker-gray url(/wp-content/uploads/sites/706/2015/11/surca-logo-swish.png) 
		left bottom/270px auto no-repeat;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande';
	color: #fff !important;
	text-shadow: .5px .5px 1px #000;
}

@media print {
	header.main-header {
		background: @hex-darkest-gray url(/wp-content/uploads/sites/706/2015/11/surca-logo-swish.png) left top repeat;
	}
}

.main-header sub:not(.unset), .main-header sup:not(.unset) {
	color: #fff !important;
}

/** ================================================================================================
*** §3: Page headers
**/

div.column {
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande';
	section {
		&.header-newsEvents {
			background: url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat 
					left top,
				url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat right top,
				url(/wp-content/uploads/sites/706/2015/11/wpbg-news.png) no-repeat center;
		}
		&.header-attending {
			background: url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat 
					left top,
				url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat right top,
				url(/wp-content/uploads/sites/706/2015/11/wpbg-attending.png) no-repeat center;
		}
		&.header-participants {
			background: url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat 
					left top,
				url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat right top,
				url(/wp-content/uploads/sites/706/2015/11/wpbg-participants.png) no-repeat center;
		}
		&.header-judges {
			background: url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat 
					left top,
				url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat right top,
				url(/wp-content/uploads/sites/706/2015/11/wpbg-judges.png) no-repeat center;
		}
		&.header-pastEvents {
			background: url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat 
					left top,
				url(/wp-content/uploads/sites/706/2015/11/section-bar.png) no-repeat right top,
				url(/wp-content/uploads/sites/706/2015/12/wpbg-past-events.png) no-repeat center;
		
		}
	}
}

/** ================================================================================================
*** §4: Article sidebars
**/

div.column {
	aside.article-sidebar {
		float: right;
		width: 33%;
		padding: .8rem;
		margin-bottom: 1rem;
		 margin-left: 1rem;
		border: 1px solid #6d441f;
		background: #f8f1eb url(/wp-content/uploads/sites/51/2015/04/
			tileable-concrete-texture_128x128.png) left top repeat;
		box-shadow: 1px 1px 2px rgba(109,68,31,0.5);
		font-size: .8rem;
		color: #464e54;
	}
}

div.column {
	aside.important-reminder {
		&:extend(div.column aside.article-sidebar);
		border: 1px solid #f77891;
		background: #fcd5dc url(/wp-content/uploads/sites/51/2015/04/
			tileable-concrete-texture_128x128.png) left top repeat;
		box-shadow: 1px 1px 2px rgba(247,120,145,0.5);
		p {
			padding-right: 1em;
			 padding-left: 1em;
			&:last-child { padding-bottom: 0; }
		}
	}
}

.row.article-notice {
	&.has-countdown {
		display: none;
	}

	.column {
		.rgb-black();
		background: @hex-gold url("/@{url-gold-texture}") no-repeat scroll left top;
		background-size: cover;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		box-shadow: 0 1px 1px rgba(@rval, @gval, @bval, 0.3);
		color: @hex-darker-gray;

		& > p {
			&:extend(.has-alt-font);
			.rgb-white();
			color: @hex-darker-gray;
			font-size: (@v-p-sz * @v-scl-up * @v-scl-up);
			letter-spacing: 0.5px;
			text-shadow: 0 1px 1px rgba(@rval, @gval, @bval, 0.5);
		}

		& > :first-child {
			padding-top: @v-btm-pads !important;

			@media all and (max-width: @column-floating-threshold) {
				padding-top: (@v-btm-pads / 3) !important;
			}
		}

		& > :last-child {
			padding-bottom: @v-btm-pads !important;
			margin-bottom: 0 !important;

			@media all and (max-width: @column-floating-threshold) {
				padding-bottom: (@v-btm-pads / 3) !important;
			}
		}
	}

	&.ruby div.column {
		background: @hex-light-crimson url("/@{url-ruby-texture}") no-repeat scroll left top/cover;

		& > p {
			.rgb-black();
			color: @hex-white;
			text-shadow: 0 1px 1px rgba(@rval, @gval, @bval, 0.5);
		}
	}

	#countdown-clock {
		font-size: 1.8em;
	}
}

/** ================================================================================================
*** §5: Lists
**/

.column ul li {
	list-style-image: url(/wp-content/uploads/sites/706/2015/12/ico-cougar-bullet-point.png);
}


/** ================================================================================================
*** §6: Iframes
**/

.column .pdf-wrapper.landscape.live-stream {
	padding-bottom: 56.206089%;
}

/** ================================================================================================
*** §7: Tables
**/

.column table.award-winners {
	text-align: center;
	vertical-align: top;
	width: 100%;

	td {
		padding-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}

	tr.gray {
		background-color: #e1e1e1;

		td {
			background-color: inherit;
		}
	}
}

/** ================================================================================================
*** §8: Welcome message
**/

#welcome-message {
	font-family: 'Open Sans Condensed';
	font-size: 5rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
	text-align: center;
}

#post-welcome-message {
	background-color: #edf3f4;
	border: 1px solid #aec7cb;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(63,107,114,0.5);
	display: none;
	margin-bottom: 2rem;
	margin-top: 2rem;
	overflow: hidden;
	padding-left: 8px;
	padding-right: 8px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 2px;
		right: 2px;
		left: 2px;
		height: 30px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.1));
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 2px;
		left: 2px;
		height: 20px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.05), rgba(0,0,0,0));
	}

	& > h3 {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
		font-family: 'Open Sans Condensed';
		font-weight: bold;
		text-align: center;
	}
}

/** ================================================================================================
*** §9: Drop down toggles
**/

h3.drop-down-toggle {
	transition: all 0.3s ease;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;    
	&:hover {
		color: @hex-light-crimson;
	}
}

/** ================================================================================================
*** §10: Abstract submission reminder
**/

.abstract-submission-reminder {
	p {
		padding-left: 2rem;
		padding-right: 2rem;
		@media all and (max-width: @large-mobile-screen-width) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	img {
		@media all and (max-width: @large-mobile-screen-width) {
			width: 64px;
		}
	}
}

/** ================================================================================================
*** §11: Announcements
**/

// #announcement {
// 	@media all {
// 		@media (min-width: )
// 	}
// }

/** ================================================================================================
*** §12: Banner slideshows
**/

.column .builder-banner-inner-content,
.column .builder-banner-content:hover > div.builder-banner-inner-content {
	background-color: transparent;
}

/** ================================================================================================
*** §13: Included optional layouts
**/

.use-navigational-map-tables();
.use-paragraph-notices(url(/wp-content/uploads/sites/51/2017/05/icon_genericons-neue_notice_v5.png));
